.wrapper {
    margin: 0 auto;
    width: 80%;
}

header{
    padding-top: 20px;
}

header h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main {
    margin-top: 60px;
}

form input {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 10px;
}

form a {
    color: yellow;
}

form label {
    font-size: 30px;
}

.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    letter-spacing: 2px;
    transition: 0.4s ease;
}

.border-button:hover {
    background: rgba(255, 255, 255, .4);
}

.response {
    margin-top: 40px;
    color: gray;
}

.nav{
    margin-bottom: 130px;
}

#navbar {
    display: flex;
}

#navbar li {
    margin-right: 40px;
}

#navbar li a {
    text-decoration: none;
    color: white;
    opacity: .75;
    transition: 0.4s ease;
    text-transform: uppercase;
}

#navbar li a:hover{
    opacity: 1;
}

form p {
    text-transform: uppercase;
}

.errorlist {
    background-color:red;
    opacity: .6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}